@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Message"] != null) 
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h3 class="text-center">@TempData["Message"]</h3>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="text-center jumbotron">
    <h1>Welcome to Murt Backlin's Gaming</h1>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 18rem;">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Just a placeholder" />
            <div class="card-body">
                <h5 class="card-title">Game Catalog</h5>
                <p class="card-text">
                    Our extensive catalog will have at least 3 different games! That could take hundreds of hours of grinding!
                </p>
                <a href="#" class="btn btn-primary">Catalog</a>
            </div>
        </div>
    </div>
    <div class="offset-md-1 offset-sm-1 col-md-5 col-sm-5">
        Our business is dedicated to the hardcore gamers! We sell ONLY the best games out there! You name it, we got it!
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="card" style="width: 16rem;">
            <div class="card-header">
                Murt Backlin's Best Seller
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Hunt: Showdown</li>
                <li class="list-group-item">Wolcen: Lords of Mayhem</li>
                <li class="list-group-item">Resident Evil 3</li>
                <li class="list-group-item">Cyberpunk 2077</li>
            </ul>
        </div>
    </div>
</div>
